In [15]:
!pip install plotly

^C

WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\hogaw\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\hogaw\appdata\roaming\python\python39\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1

In [1]:
import pandas as pd
import plotly.express as px

In [6]:
df = pd.read_csv('../data/kyoto_covid_patient.csv', index_col=0, parse_dates=['date']).sort_values('date').reset_index(drop=True)
df.head()

    事例        発表日  年代  性別 居住地等                           資料       date  age
0  1例目  令和2年1月30日  20  女性  京都市  厚生労働省報道資料（令和2年1月30日）（外部リンク） 2020-01-30  20代
1  2例目   令和2年2月5日  20  男性  京都市   厚生労働省報道資料（令和2年2月5日）（外部リンク） 2020-02-05  20代
2  3例目   令和2年3月3日  50  女性  京都市   京都市報道発表資料（令和2年3月3日）（外部リンク） 2020-03-03  50代
3  4例目   令和2年3月4日  50  女性  京都市   京都市報道発表資料（令和2年3月4日）（外部リンク） 2020-03-04  50代
4  5例目   令和2年3月4日  50  男性  京都市   京都市報道発表資料（令和2年3月4日）（外部リンク） 2020-03-04  50代

In [7]:
df = df[['date', 'age']]
df

            date  age
0     2020-01-30  20代
1     2020-02-05  20代
2     2020-03-03  50代
3     2020-03-04  50代
4     2020-03-04  50代
...          ...  ...
34649 2021-09-16  20代
34650 2021-09-16  30代
34651 2021-09-16  30代
34652 2021-09-16  70代
34653 2021-09-16  20代

[34654 rows x 2 columns]

In [8]:
df.to_csv('../data/kyoto_covid2.csv', index=None)

In [13]:
df.to_csv('../data/vac_forecast.csv', index=None)

In [16]:
df = pd.read_csv('../data/vaccined_num.csv')

In [17]:
df

         年代  1回目接種数  1回目接種率  2回目接種数  2回目接種率                 date
0        全体  637565   45.23  497224   35.27           2021-08-25
1     65歳以上  342230   86.59  324095   82.00           2021-08-25
2   60歳～64歳   50021   66.57   34377   45.75           2021-08-25
3   50歳～59歳   86301   46.98   52587   28.63           2021-08-25
4   40歳～49歳   66372   31.75   37759   18.06           2021-08-25
5   30歳～39歳   40322   24.88   22270   13.74           2021-08-25
6   20歳～29歳   39428   24.32   20849   12.86           2021-08-25
7   12歳～19歳    9817   10.22    3654    3.80           2021-08-25
8        全体  643224   45.63  503803   35.74  2021-08-26 00:00:00
9     65歳以上  342720   86.72  325005   82.23  2021-08-26 00:00:00
10  60歳～64歳   50362   67.02   35055   46.65  2021-08-26 00:00:00
11  50歳～59歳   87883   47.84   54359   29.59  2021-08-26 00:00:00
12  40歳～49歳   68099   32.57   39277   18.79  2021-08-26 00:00:00
13  30歳～39歳   41530   25.63   23324   14.39  2021-08-26 00:00:00
14  20歳～29歳   40340   24.89   21766   13.43  2021-08-26 00:00:00
15  12歳～19歳   10135   10.55    3893    4.05  2021-08-26 00:00:00
16       全体  655590   46.51  515578   36.57  2021-08-28 00:00:00
17    65歳以上  343265   86.85  326191   82.53  2021-08-28 00:00:00
18  60歳～64歳   50856   67.68   36313   48.32  2021-08-28 00:00:00
19  50歳～59歳   90650   49.35   57646   31.38  2021-08-28 00:00:00
20  40歳～49歳   71305   34.11   41854   20.02  2021-08-28 00:00:00
21  30歳～39歳   43605   26.91   24859   15.34  2021-08-28 00:00:00
22  20歳～29歳   42557   26.25   23126   14.27  2021-08-28 00:00:00
23  12歳～19歳   11130   11.58    4434    4.61  2021-08-28 00:00:00
24       全体  658179   46.69  516859   36.66  2021-08-29 00:00:00
25    65歳以上  343293   86.86  326203   82.54  2021-08-29 00:00:00
26  60歳～64歳   50954   67.81   36373   48.40  2021-08-29 00:00:00
27  50歳～59歳   91151   49.62   57899   31.52  2021-08-29 00:00:00
28  40歳～49歳   71907   34.40   42124   20.15  2021-08-29 00:00:00
29  30歳～39歳   43982   27.14   25004   15.43  2021-08-29 00:00:00
30  20歳～29歳   43086   26.58   23482   14.49  2021-08-29 00:00:00
31  12歳～19歳   11578   12.05    4617    4.80  2021-08-29 00:00:00