In [15]:
!pip install plotly

^C

WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\hogaw\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\hogaw\appdata\roaming\python\python39\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1

In [1]:
import pandas as pd
import plotly.express as px

In [26]:
df = pd.read_csv('../data/kyoto_patients.csv',  parse_dates=['date']).sort_values('date').reset_index(drop=True)
df.head()

   No                     リリース日  居住地  年代と性別 退院       date  age sex
0   1  2020-01-30T08:00:00.000Z  京都市  20代女性  ○ 2020-01-30  20代  女性
1   2  2020-02-05T08:00:00.000Z  京都市  20代男性  ○ 2020-02-05  20代  男性
2   3  2020-03-03T08:00:00.000Z  京都市  50代女性  ○ 2020-03-03  50代  女性
3   4  2020-03-04T08:00:00.000Z  京都市  50代女性  ○ 2020-03-04  50代  女性
4   5  2020-03-04T08:00:00.000Z  京都市  50代男性  ○ 2020-03-04  50代  男性

In [33]:
aged_df = pd.DataFrame(df[['date', 'age']].groupby('date').size())
aged_df.columns = ['counts']
#aged_df = aged_df.reset_index()
aged_df

            counts
date
2020-01-30       1
2020-02-05       1
2020-03-03       1
2020-03-04       2
2020-03-05       1
...            ...
2021-09-14     118
2021-09-15     177
2021-09-16     151
2021-09-17     121
2021-09-18     108

[523 rows x 1 columns]

In [29]:
pd.DataFrame(df.groupby('date').size())

              0
date
2020-01-30    1
2020-02-05    1
2020-03-03    1
2020-03-04    2
2020-03-05    1
...         ...
2021-09-14  118
2021-09-15  177
2021-09-16  151
2021-09-17  121
2021-09-18  108

[523 rows x 1 columns]

In [19]:
df = pd.read_csv('../data/kyoto_covid_patient.csv')

In [25]:
df[:30000]

,事例,発表日,年代,性別,居住地等,資料,date,age
0,NaN,令和2年1月30日,20,女性,京都市,厚生労働省報道資料（令和2年1月30日）（外部リンク）,2020-01-30,20代
1,NaN,令和2年2月5日,20,男性,京都市,厚生労働省報道資料（令和2年2月5日）（外部リンク）,2020-02-05,20代
2,NaN,令和2年3月3日,50,女性,京都市,京都市報道発表資料（令和2年3月3日）（外部リンク）,2020-03-03,50代
3,NaN,令和2年3月4日,50,女性,京都市,京都市報道発表資料（令和2年3月4日）（外部リンク）,2020-03-04,50代
4,NaN,令和2年3月4日,50,男性,京都市,京都市報道発表資料（令和2年3月4日）（外部リンク）,2020-03-04,50代
...,...,...,...,...,...,...,...,...
29995,29388例目,令和3年8月29日,20,男性,京都市内,京都市報道発表資料（令和3年8月29日）（外部リンク）,2021-08-29,20代
29996,29388例目,令和3年8月29日,20,男性,京都市内,京都市報道発表資料（令和3年8月29日）（外部リンク）,2021-08-29,20代
29997,29388例目,令和3年8月29日,20,男性,京都市内,京都市報道発表資料（令和3年8月29日）（外部リンク）,2021-08-29,20代
29998,29388例目,令和3年8月29日,20,男性,京都市内,京都市報道発表資料（令和3年8月29日）（外部リンク）,2021-08-29,20代
29999,29388例目,令和3年8月29日,20,男性,京都市内,京都市報道発表資料（令和3年8月29日）（外部リンク）,2021-08-29,20代

In [35]:
df = pd.read_csv('../data/kyoto_covid_patient.csv')

In [36]:
df

,事例,発表日,年代,性別,居住地等,資料,date,age
0,NaN,令和2年1月30日,20,女性,京都市,厚生労働省報道資料（令和2年1月30日）（外部リンク）,2020-01-30,20代
1,NaN,令和2年2月5日,20,男性,京都市,厚生労働省報道資料（令和2年2月5日）（外部リンク）,2020-02-05,20代
2,NaN,令和2年3月3日,50,女性,京都市,京都市報道発表資料（令和2年3月3日）（外部リンク）,2020-03-03,50代
3,NaN,令和2年3月4日,50,女性,京都市,京都市報道発表資料（令和2年3月4日）（外部リンク）,2020-03-04,50代
4,NaN,令和2年3月4日,50,男性,京都市,京都市報道発表資料（令和2年3月4日）（外部リンク）,2020-03-04,50代
...,...,...,...,...,...,...,...,...
109772,34851例目,令和3年9月18日,20,女性,京都市内,京都市報道発表資料（令和3年9月18日）（外部リンク）,2021-09-18,20代
109773,34848例目,令和3年9月18日,20,女性,京都市内,京都市報道発表資料（令和3年9月18日）（外部リンク）,2021-09-18,20代
109774,34849例目,令和3年9月18日,20,女性,京都市内,京都市報道発表資料（令和3年9月18日）（外部リンク）,2021-09-18,20代
109775,34817例目,令和3年9月18日,30,男性,山城管内,府報道発表資料（令和3年9月18日）（PDF：177KB）,2021-09-18,30代
109776,34841例目,令和3年9月18日,40,女性,京都市内,京都市報道発表資料（令和3年9月18日）（外部リンク）,2021-09-18,40代